{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <div class="container-narrow">  
	  <div class="container">
	  	{% include header.html %}
	    <div class="row">
	      {{ content | expand_urls: root_url }}
	    </div>
	    <footer role="contentinfo" class="page-footer">{% include footer.html %}</footer>
	  </div>	  
  </div>  
  {% include after_footer.html %}
</body>
</html>
<script language="javascript">
	$.backstretch("http://unsplash.s3.amazonaws.com/batch%204/jet-sky.jpg");
</script>